header {
    text-align: center;
}

main {
    display: block;
    width: 50%;
    border: 15px solid red;
    padding: 50px; 
    margin: 20px auto;
}

footer{
    text-align: center;
}